<p>
  <b>Name:</b>
  <%= @group_purchase.purchaseName %>
</p>

<p>
  <b>Balance:</b>
  <%= @group_purchase.balance %>
</p>

<p>
  <b>Number of Members:</b>
  <%= @group_purchase.members.length-1 %>
</p>
<p>
	<b>Creditor:</b>
	<%= @group_purchase.creatorName%></li>
</p>
<p>
	<b>Debitors:</b>
	<ul>
		<% @debitors.each do |debitor| %>
			<li><%=debitor.email%></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Add a Debitor', new_group_purchase_invoice_path(@group_purchase) %> |
<%= link_to 'Return to Personal Page', members_index_path %> |
<%= link_to 'Delete Purchase', @group_purchase, method: :delete, data: {confirm: 'Are you sure'} %>
