<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group_purchase.name %>
</p>

<p>
  <b>Balance:</b>
  <%= @group_purchase.balance %>
</p>



<%= link_to 'Add an Invoice', new_invoice_path %> |
<%= link_to 'Return to Personal Page', member_show_path %>
