<p>
  <b>Name:</b>
  <%= @group_purchase.purchaseName %>
</p>

<p>
  <b>Balance:</b>
  <%= @group_purchase.balance %>
</p>

<p>
  <b>Number of Members:</b>
  <%= @num_debtors %>
</p>
<p>
	<b>Creditor:</b>
	<%= @group_purchase.creditor.email%></li>
</p>
<p>
	<b>Debtors:</b>
	<ul>
		<% @debtors.each do |debtor| %>
			<li><%=debtor.email%></li>
		<% end %>
	</ul>
</p>

<%= link_to 'Add a Debitor', new_group_purchase_invoice_path(@group_purchase) %> |
<%= link_to 'Return to Personal Page', members_index_path %> |
<%= link_to 'Delete Purchase', @group_purchase, method: :delete, data: {confirm: 'Are you sure'} %>
