<div class="jumbotron">
  <% if member_signed_in? %>
    <%= link_to "Create New Purchase", new_group_purchase_path, :class=>"btn btn-primary"%>

    <h3>Money Owed to You</h3>
    <table class="table">
      <th>Purchase Name</th>
      <th>Balance</th>
      <% @purchases_creditor.each do |purchase| %>
        <tr>
          <td><%=link_to purchase.purchaseName,group_purchase_path(purchase)%></td>
          <td><%=purchase.balance%></td>
        </tr>
      <%end%>
    </table>

    <h3>Money You Owe</h3>
    <table class="table">
      <th>Purchase Name</th>
      <th>Balance</th>
        <% @invoices_debitor.each do |invoice| %>
        <tr>
          <td><%= invoice.group_purchase.purchaseName %></td>
          <td><%=invoice.group_purchase.balance%></td>
        </tr>
      <%end%>
    </table>
  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_member_session_path, :class => "btn btn-success" %>
      </div>
      <div class="span6">
        <%= link_to "Sign Up", new_member_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
<%#= link_to invoice.balance, group_purchase_invoice_path(purchase, invoice) %>