<div class="jumbotron">
  <% if member_signed_in? %>
    <%= link_to "Create New Purchase", new_group_purchase_path, :class=>"btn btn-primary"%>

    <h3>Money Owed to You</h3>
    <table class="table">
      <th>Purchase Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Balance</th>
      <% current_member.group_purchases.each do |purchase| %>
        <tr>
          <% if current_member.email == purchase.creatorName%>
            <td><%=link_to purchase.purchaseName,group_purchase_path(purchase)%></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%=purchase.balance%></td>
        </tr>
          <%end %>
      <%end%>
    </table>

    <h3>Money You Owe</h3>
    <table class="table">
      <th>Purchase Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Balance</th>
      <% current_member.group_purchases.each do |purchase| %>
        <tr>
          <% if current_member.email != purchase.creatorName%>
            <% purchase.invoices.each do |invoice| %>
              <%if current_member.email == invoice.debtor%>
                <td><%=purchase.purchaseName%></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%=invoice.balance%></td>
              <%end%>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </table>

  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_member_session_path, :class => "btn btn-success" %>
      </div>
      <div class="span6">
        <%= link_to "Sign Up", new_member_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>